<div class="min-h-screen bg-gradient-to-r from-violet-200 to-violet-400 p-6 mt-12">
  @if (surveyEdition) {
    <div class="bg-violet-100 rounded-lg shadow-sm p-6 mb-6 border border-violet-300">

      <div class="mb-6 flex justify-between">
        <h1 class="flex items-baseline gap-3">
          <span class="text-2xl font-mono text-violet-700">Survey Title:</span>
          <span class="text-3xl font-mono text-gray-800">{{ surveyEdition.survey?.title }}</span>
        </h1>
        <div class="">
          <button
            class="px-4 py-2 bg-violet-600 text-white rounded-md hover:bg-violet-700 transition duration-200 font-mono flex items-center space-x-2"
            [routerLink]="['/participate/survey/edition', surveyEdition.id]"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            <span>Join the Survey</span>
          </button>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="bg-violet-50 p-4 rounded-md shadow-sm border border-violet-300">
          <span class="text-sm font-mono text-violet-600">Year</span>
          <p class="text-lg font-mono font-semibold text-violet-800">{{ surveyEdition.date }}</p>
        </div>
        <div class="bg-violet-50 p-4 rounded-md shadow-sm border border-violet-300">
          <span class="text-sm font-mono text-violet-600">Create Date</span>
          <p class="text-lg font-mono font-semibold text-violet-800">{{ surveyEdition.creationDate }}</p>
        </div>
        <div class="bg-violet-50 p-4 rounded-md shadow-sm border border-violet-300">
          <span class="text-sm font-mono text-violet-600">Start Date</span>
          <p class="text-lg font-mono font-semibold text-violet-800">{{ surveyEdition.startDate }}</p>
        </div>
      </div>

    </div>
    <div class="bg-violet-100 rounded-lg shadow-sm p-6 border border-violet-300">
      <h2 class="text-xl font-mono font-semibold text-gray-800 mb-4">Subjects</h2>

      @if (surveyEdition.subjects.length > 0) {
        <div class="space-y-4">
          @for (subject of surveyEdition.subjects; track subject.id) {
            <div class="subject-tree">
              <button
                class="w-full text-left flex items-center font-mono text-violet-800 font-medium bg-violet-200 p-2 rounded-md hover:bg-violet-300 transition">
                <span class="mr-2 text-violet-700">▾</span>
                {{ subject.title }}
              </button>

              @if (subject.subSubjects.length > 0) {
                <div class="ml-6 mt-2 space-y-2">
                  @for (subSubject of subject.subSubjects; track subSubject.id) {
                    <div class="flex items-center">
                      <span class="mr-2 text-violet-600">▷</span>
                      <button
                        [routerLink]="['/subject', subSubject.id, 'questions']"
                        class="w-full text-left flex items-center text-violet-700 font-mono bg-violet-50 p-2 rounded-md shadow-sm hover:bg-violet-100 transition border border-violet-200"
                      >
                        {{ subSubject.title }}
                      </button>
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      } @else {
        <p class="font-mono text-gray-500">No subjects available</p>
      }
    </div>
  } @else {
    <div class="flex justify-center items-center h-64">
      <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-violet-800"></div>
    </div>
  }
</div>
