<nav class="bg-violet-500 fixed py-3 px-6 rounded shadow-lg w-full max-w-6xl left-1/2 transform -translate-x-1/2 z-50">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-violet-950 text-xl font-mono">
      ITLens
    </div>

    <div class="hidden md:flex space-x-4">
      <button routerLink="surveys"
         class="text-violet-950 border-b-2 border-transparent hover:border-violet-950 hover:text-violet-950 transition-all duration-300 font-mono">
        Home
      </button>
    </div>


    <button (click)="toggleMenu()" class="md:hidden text-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
      </svg>
    </button>
  </div>
</nav>

<div *ngIf="isMenuOpen" class="md:hidden bg-violet-500">
  <a href="#"
     class="block text-white p-4 border-transparent hover:border-violet-950 hover:text-violet-950 transition-all duration-300 font-mono">Home</a>
</div>
