<div class="min-h-screen bg-gradient-to-r from-violet-200 to-violet-400 p-6 mt-12">
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="text-4xl font-mono text-gray-800 mb-8 mt-8">
      Welcome to the Answer Page
    </h1>

    <p class="text-xl text-gray-600 mb-8 font-mono">
      Here, you can explore the Answers related to the selected Question.
      Browse through the list to find detailed information and insights.
    </p>

  </div>
  <div class="">
    <div class="bg-violet-100 rounded-lg shadow-sm p-6 mb-6 border border-violet-300">
      <h2 class="text-xl font-mono font-semibold text-gray-800 mb-4">Answer for {{ question.text }}</h2>
      <div class="space-y-4">
        @if (question.answers.length > 0) {
          <div>
            @for (answer of question.answers; track answer.id) {

              <div
                class="p-4 bg-violet-50 rounded-md shadow-sm border border-violet-200 flex items-center space-x-4 hover:bg-violet-300"
              >
                <p class="flex-1 font-mono text-gray-700 text-left">{{ answer.text }}</p>
              </div>


            }
          </div>
        }@else {
          <div
            class="p-4 bg-violet-50 rounded-md shadow-sm border border-violet-200 flex items-center space-x-4 hover:bg-violet-300"
          >
            <p class="flex-1 font-mono text-gray-700 text-left">No Answers Available ...</p>
          </div>
        }

      </div>
    </div>

  </div>
</div>
