<div class="min-h-screen bg-gradient-to-r from-violet-200 to-violet-400 p-6 mt-12">
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="text-4xl font-mono text-gray-800 mb-8 mt-8">
      Welcome to the Questions Page
    </h1>

    <p class="text-xl text-gray-600 mb-8 font-mono">
      Here, you can explore the questions related to the selected subject.
      Browse through the list to find detailed information and insights.
    </p>

  </div>
  <div class="">
    <div class="bg-violet-100 rounded-lg shadow-sm p-6 mb-6 border border-violet-300">
      <h2 class="text-xl font-mono font-semibold text-gray-800 mb-4">Questions for {{ subject.title }}</h2>
      <div class="space-y-4">
        @if (subject.questions.length > 0) {
          <div>
            @for (question of subject.questions; track subjectId) {

              <div
                class="p-4 bg-violet-50 rounded-md shadow-sm border border-violet-200 flex items-center space-x-4 hover:bg-violet-300"
              >
                <button
                  class="px-4 py-2 bg-violet-500 text-white text-sm font-medium rounded-md shadow hover:bg-violet-600 focus:outline-none focus:ring-2 focus:ring-violet-300"
                  [routerLink]="['/question', question.id, 'answers']"
                >
                  Show Answers
                </button>

                <p class="flex-1 font-mono text-gray-700 text-left">{{ question.text }}</p>

                <p class="font-mono text-violet-600 text-sm font-semibold">
                  {{ question.questionType }}
                </p>
              </div>


            }
          </div>
        } @else {
          <div
            class="p-4 bg-violet-50 rounded-md shadow-sm border border-violet-200 flex items-center space-x-4 hover:bg-violet-300"
          >
            <p class="flex-1 font-mono text-gray-700 text-left">No Questions Available</p>
          </div>
        }

      </div>
    </div>

  </div>
</div>
